<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title><{$lang.admin_site_title}></title>
<script src="statics/js/jquery.min.js"></script>
<link href="statics/css/page.css" rel="stylesheet" type="text/css" />
</head>
<body id="main-body">

<div class="output">
    <form action="index.php?m=secondhand&c=index&a=saveSecondHand&dosubmit=1" method="post" name="frm" id="frm" onSubmit="ajax_tip();">
        <div class="main-form list">
            <table cellspacing="0" cellpadding="0" class="form-table" id="form-table">
    
                <tr class="row">
                    <td class="row-label">名称</td>
                    <td>
                        <input name="data[title]" type="text" class="text" id="title" size="80" maxlength="30" />
                    </td>
                </tr>
                <tr class="row">
                    <td class="row-label">简介</td>
                    <td>
                        <input name="data[intro]" type="text" class="text" id="intro" size="80" maxlength="30" />
                    </td>
                </tr>
                <tr class="row">
                    <td class="row-label">类型(转让/求购)</td>
                    <td>
                        <input name="data[type]" type="text" class="text" id="type" value="0" size="80" maxlength="5" />
                    </td>
                </tr>
                 <tr class="row">
                    <td class="row-label">位置信息</td>
                    <td>
                        <input name="data[shLocation]" type="text" class="text" id="shLocation" value="118.174576,24.478384" size="80" maxlength="5" />
                    </td>
                </tr>
                
                <tr class="row">
                    <td class="row-label">联系人号码</td>
                    <td>
                        <input name="data[phoneNumber]" type="text" class="text" id="phoneNumber" value="15306093806" size="80" maxlength="5" />
                    </td>
                </tr>
                
                <tr class="row">
                    <td class="row-label">&nbsp;</td>
                    <td>
                        <input type="submit" name="btn" id="submit" value=" 保存信息 " class="button" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</div>
</div>
</body>
</html>
